@tailwind base;
@tailwind components;
@tailwind utilities;
/* bovenste gedeelde van pagina t/m user */
.dick{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #454545;
  border: 1px solid lightgrey;
  padding: 100px;
  gap:20px;
  margin: 20px;
  padding-top: 0px;
  width: 1000px;
  margin-left: 440px;
  margin-top: 0px;
}


.user .avatar{
  border: 3px solid lightgrey;
  position: absolute;
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: -80px;
}

.user {
  font-size: 30px;
  margin-top: 21px;
  margin-left: 20px;
}

body {
  background-color: #1E1E1E;
}

h1 {
  position: absolute;
  font-size: xx-large;
}

h2 {
  position: absolute;
  margin-top: -20px;
  margin-left: 55px;
  font-size: x-large;
}

.review {
  position: absolute;
  margin-top: -140px;
  margin-left: 1030px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #454545;
  padding: 80px;
  gap:20px;
  width: 100vw;
}

.container>div {
  text-align: center;
  padding: 20px auto;
  font-size: 18px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  border: 3px solid lightgrey;
  max-width: 300px;
}

.container .info {
  text-align: center;
  padding: 20px auto;
  font-size: 18px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  border: 3px solid pink;
  width: 9900px;
}

.games {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 80px;
  gap:20px;
}

.games>div {
  text-align: center;
  padding: 50px;
  font-size: 18px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  border: 3px solid lightgrey;
  width: 330px;
  border-style:groove;
  background-color: #454545;
  margin-left: auto;
  margin-right: auto;
}

.games .avatar{
  border: 3px solid lightgrey;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  margin-top: -10px;
}

.euro {
  position: absolute;
  margin-top: 10px;
  margin-left: 170px;
}

.gamettext {
  position: absolute;
  margin-left: 20px;
}

.boxes {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #454545;
  padding: 80px;
  gap:20px;
  margin: 20px;
}

.boxes>div {
  text-align: center;
  padding: 4px;
  font-size: 18px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  border: 3px solid lightgrey;
  width: 300px;
}

.boxes .info {
  text-align: center;
  padding: 70px;
  font-size: 18px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  border: 3px solid lightgrey;
  width: 800px;
}

.boxing {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  border: 3px solid lightgrey;
  width: 300px;
}

.boxes .button {
  background-color: #e7e7e7;
  color: black;
}

.milan{
  color: blue;
}

.rectangle {
  height: 30px;
  width: 150px;
  background-color: #555;
  margin-top: -142px;
  position: absolute;
  margin-left: 1000px;
}

/* Rectangle 1 */

.zijkantlinks {
  position: absolute;
  width: 40px;
  height: 1806px;
  background: #292D32;
}

.zijkantrechts {
  position: absolute;
  width: 40px;
  height: 1806px;
  background: #292D32;
  margin-left: 1440px;
}

.zijkantboven {
  position: absolute;
  width: 40px;
  height: 1806px;
  background: #292D32;
  margin-left: 5000px;
}

.zijkantonder {
  position: absolute;
  width: 40px;
  height: 1806px;
  background: #292D32;
}